@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --bg: #ffffff;
  --surface: #0bb9fa;
  --surface-muted: #0bb9fa;
  --surface-hover: #e9e9e9;

  --text: #111827;
  --text-muted: #000;

  --border: #000000;
  --border-strong: #000000;

  --accent: #111827;
  --accent-hover: #000000;
  --accent-contrast: #ffffff;

  --danger: #b91c1c;

  --radius: 6px;
  --space: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--bg);
  line-height: 1.55;
  font-family:
    Rubik,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
